*.js linguist-generated=true
*.wasm linguist-generated=true
build/* linguist-generated=true
dist/* linguist-generated=true
public/build/* linguist-generated=true

node_modules/* linguist-vendored=true
*.tsx linguist-generated=true
*.tsx linguist-generated=true
